---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";

const faculty = (await getCollection("faculty")).toSorted((a, b) =>
  a.data.name.localeCompare(b.data.name)
);

const students = (await getCollection("students")).toSorted((a, b) => {
  if (a.data.course !== b.data.course) {
    const courseOrder: Record<string, number> = {
      "Ph.D.": 0,
      "M.S./Ph.D.": 1,
      "M.S.": 2,
    };
    return courseOrder[a.data.course] - courseOrder[b.data.course];
  }
  if (a.data.enrollment !== b.data.enrollment) {
    return (
      new Date(b.data.enrollment).getTime() -
      new Date(a.data.enrollment).getTime()
    );
  }
  return a.data.name.localeCompare(b.data.name);
});

const alumni = (await getCollection("alumni")).toSorted((a, b) => {
  if (a.data.graduate !== b.data.graduate) {
    return (
      new Date(b.data.graduate).getTime() - new Date(a.data.graduate).getTime()
    );
  }
  return a.data.name.localeCompare(b.data.name);
});

const staff = (await getCollection("staff")).toSorted((a, b) =>
  a.data.name.localeCompare(b.data.name)
);
---

<Layout>
  <main class:list={[]}>
    <div
      class:list={[
        "px-6 md:px-10",
        "mt-[128px] mb-[96px] md:mb-[128px]",
        "grid grid-cols-1 md:grid-cols-12 gap-4",
      ]}
    >
      <h1
        class:list={[
          "col-span-8",
          "font-serif",
          "text-[60px] md:text-[120px]",
          "font-bold",
          "-mt-8",
        ]}
      >
        People
      </h1>
      <p class:list={["col-span-4", "text-2xl"]}>
        We are a group of <i class:list={["font-serif"]}>passionate</i> researchers
        and students dedicated to advancing the field of <i
          class:list={["font-serif"]}>machine learning.</i
        >
      </p>
    </div>
    <ul
      class:list={[
        "max-sm:space-y-10",
        "md:grid",
        "grid-cols-3",
        "gap-10",
        "px-6 md:px-10",
        "my-10",
      ]}
    >
      {
        faculty.map((item) => (
          <li class:list={["border-t border-black/50"]}>
            <div class:list={["grid", "grid-cols-12", "gap-4", "my-4"]}>
              <Image
                src={item.data.image}
                alt={item.data.name}
                width={512}
                height={512}
                class:list={[
                  "object-cover",
                  "aspect-square",
                  "col-span-3",
                  "rounded-full",
                ]}
              />
              <h3 class:list={["col-span-9", "self-center"]}>
                <span class:list={["font-medium", "text-xl"]}>
                  {item.data.name}
                </span>
                <br />
                <span class:list={["text-gray-700", "text-sm"]}>
                  {item.data.role}
                </span>
              </h3>
            </div>
            <ul class:list={["text-sm", "truncate"]}>
              <li>
                <a
                  class:list={["underline"]}
                  href={`mailto:${item.data.email}`}
                >
                  {item.data.email}
                </a>
              </li>
              <li>
                <a
                  href={item.data.website}
                  target="_blank"
                  rel="noopener noreferrer"
                  class:list={["underline"]}
                >
                  {item.data.website}
                </a>
              </li>
            </ul>
          </li>
        ))
      }
    </ul>
    <ul
      class:list={[
        "max-sm:space-y-10",
        "md:grid",
        "grid-cols-3",
        "gap-10",
        "px-6 md:px-10",
        "my-10",
      ]}
    >
      {
        students.map((item) => (
          <li class:list={["border-t border-black/50"]}>
            <div class:list={["grid", "grid-cols-12", "gap-4", "my-4"]}>
              <Image
                src={item.data.image}
                alt={item.data.name}
                width={512}
                height={512}
                class:list={[
                  "object-cover",
                  "aspect-square",
                  "col-span-3",
                  "rounded-full",
                ]}
              />
              <h3 class:list={["col-span-9", "self-center"]}>
                <span class:list={["font-medium", "text-xl"]}>
                  {item.data.name}
                </span>
                <br />
                <span class:list={["text-gray-700", "text-sm"]}>
                  {item.data.course} Course,{" "}
                  {item.data.enrollment.getFullYear()}.
                </span>
              </h3>
            </div>
            <ul class:list={["text-sm", "truncate"]}>
              <li class:list={["mb-2"]}>{item.data.interest}</li>
              <li>
                <a
                  class:list={["underline"]}
                  href={`mailto:${item.data.email}`}
                >
                  {item.data.email}
                </a>
              </li>
              {item.data.website ? (
                <li>
                  <a
                    href={item.data.website}
                    target="_blank"
                    rel="noopener noreferrer"
                    class:list={["underline"]}
                  >
                    {item.data.website}
                  </a>
                </li>
              ) : (
                <li>
                  <a>{"N/A"}</a>
                </li>
              )}
            </ul>
          </li>
        ))
      }
    </ul>
    <ul
      class:list={[
        "max-sm:space-y-10",
        "md:grid",
        "grid-cols-3",
        "gap-10",
        "px-6 md:px-10",
        "my-10",
      ]}
    >
      {
        alumni.map((item) => (
          <li class:list={["border-t border-black/50"]}>
            <div class:list={["grid", "grid-cols-12", "gap-4", "my-4"]}>
              <Image
                src={item.data.image}
                alt={item.data.name}
                width={512}
                height={512}
                class:list={[
                  "object-cover",
                  "aspect-square",
                  "col-span-3",
                  "rounded-full",
                ]}
              />
              <h3 class:list={["col-span-9", "self-center"]}>
                <span class:list={["font-medium", "text-xl"]}>
                  {item.data.name}
                </span>
                <br />
                <span class:list={["text-gray-700", "text-sm"]}>
                  {item.data.course}, {item.data.graduate.getFullYear()}.
                </span>
              </h3>
            </div>
            <ul class:list={["text-sm", "truncate"]}>
              <li>
                <a
                  class:list={["underline"]}
                  href={`mailto:${item.data.email}`}
                >
                  {item.data.email}
                </a>
              </li>
              {item.data.status ? <li>{item.data.status}</li> : <li>N/A</li>}
            </ul>
          </li>
        ))
      }
    </ul>
    <ul
      class:list={[
        "max-sm:space-y-10",
        "md:grid",
        "grid-cols-3",
        "gap-10",
        "px-6 md:px-10",
        "my-10",
      ]}
    >
      {
        staff.map((item) => (
          <li class:list={["border-t border-black/50"]}>
            <div class:list={["grid", "grid-cols-12", "gap-4", "my-4"]}>
              <Image
                src={item.data.image}
                alt={item.data.name}
                width={512}
                height={512}
                class:list={[
                  "object-cover",
                  "aspect-square",
                  "col-span-3",
                  "rounded-full",
                ]}
              />
              <h3 class:list={["col-span-9", "self-center"]}>
                <span class:list={["font-medium", "text-xl"]}>
                  {item.data.name}
                </span>
                <br />
                <span class:list={["text-gray-700", "text-sm"]}>
                  {item.data.role}
                </span>
              </h3>
            </div>
            <ul class:list={["text-sm", "truncate"]}>
              <li>
                <a
                  class:list={["underline"]}
                  href={`mailto:${item.data.email}`}
                >
                  {item.data.email}
                </a>
              </li>
              <li>
                <a
                  href={item.data.website}
                  target="_blank"
                  rel="noopener noreferrer"
                  class:list={["underline"]}
                >
                  {item.data.website}
                </a>
              </li>
            </ul>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
