---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { Cite } from "@citation-js/core";
import "@citation-js/plugin-bibtex";
import "@citation-js/plugin-csl";

const publications = (await getCollection("publications"))
  .toSorted((a, b) => {
    if (a.data.issued && b.data.issued && a.data.issued !== b.data.issued) {
      return (
        new Date(b.data.issued["date-parts"][0][0]).getTime() -
        new Date(a.data.issued["date-parts"][0][0]).getTime()
      );
    }
    return a.data.title.localeCompare(b.data.title);
  })
  .map((item) => new Cite(item.data));

const tags = ["all", "vision", "language", "decision", "theory", "systems"];
---

<Layout>
  <main class:list={[]}>
    <div
      class:list={[
        "px-6 md:px-10",
        "mt-[96px] mb-[96px] md:mb-[128px]",
        "grid grid-cols-1 md:grid-cols-12 gap-4",
      ]}
    >
      <h1
        class:list={[
          "col-span-8",
          "font-serif",
          "text-[60px] md:text-[120px]",
          "font-bold",
          "-mt-8",
        ]}
      >
        Publications
      </h1>
      <p class:list={["col-span-4", "text-2xl"]}>
        From core algorithms and theoretical insights to applied systems
        tackling perception, language, and decision making.
      </p>
    </div>
    <ul class:list={["px-6 md:px-10", "space-x-4", "mb-4"]}>
      {
        tags.map((tag) => (
          <li class:list={["inline", "text-sm"]}>
            <a
              href={`#${tag}`}
              class:list={[
                "border border-black/50",
                "px-2",
                "py-1",
                "capitalize",
              ]}
            >
              {tag}
            </a>
          </li>
        ))
      }
    </ul>
    <ul class:list={["px-6 md:px-10", "space-y-10", "mb-20"]}>
      {
        publications.map((publication) => (
          <li class:list={["border-t border-black/50", "pt-4"]}>
            <h2 class:list={["font-medium", "text-xl"]}>
              {publication.data[0].title}
            </h2>
            <p class:list={["text-sm"]}>
              {publication.data[0]["container-title"]}
            </p>
            <p class:list={["text-sm", "italic"]}>
              {publication.data[0].author
                .map((a: any) => `${a.given} ${a.family}`)
                .join(", ")}
            </p>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<script>
  // Fill black tag background if hash matches, on hash change or page load
  function updateTagHighlight() {
    const hash = window.location.hash.substring(1) || "all";
    document.querySelectorAll("ul li a").forEach((el) => {
      if (el.getAttribute("href") === `#${hash}`) {
        el.classList.add("bg-black", "text-white");
      } else {
        el.classList.remove("bg-black", "text-white");
      }
    });
  }
  window.addEventListener("hashchange", updateTagHighlight);
  window.addEventListener("load", updateTagHighlight);
</script>
